/.idea/
/aoki-spring/.idea/
/aoki-spring/target/
/aoki-spring/aoki_backend/
/aoki-spring/.mvn/
/aoki-vite/.vscode/
/aoki-vite/.idea/

/aoki-vite/node_modules/
/aoki-vite/package-lock.json
/aoki-vite/dist/
/aoki-vite/src/Test.vue
/aoki-deploy/aoki/
/aoki-deploy/src/docker-compose.yml
/aoki-deploy/src/aoki/
/aoki-deploy/src/frontend/dist/
/aoki-deploy/standAlone/aoki/
