/.idea/
/aoki-spring/.idea/
/aoki-spring/target/
/aoki-spring/aoki_backend/
/aoki-spring/.mvn/
/aoki-deploy/
/aoki-vite/.vscode/
/aoki-vite/.idea/

/aoki-vite/node_modules/
/aoki-vite/package-lock.json
/aoki-vite/dist/
/aoki-vite/src/Test.vue
