<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cleardewy.aoki.mapper.LessonMapper">
    <insert id="addLesson" parameterType="LessonDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO lesson(`name`,`introduction`,`ownerId`,`teamMemberLimit`,`topicMod`,`avatarURL`) values(#{name},#{introduction},#{ownerId},#{teamMemberLimit},#{topicMod},#{avatarURL})
    </insert>

    <select id="getLessonList" parameterType="Integer" resultType="LessonListVo">
        SELECT lesson.id as id,lesson.name as name,lesson.avatarURL as avatarURL,(
            SELECT user.name
            FROM user
            WHERE user.id = lesson.ownerId
        ) AS ownerName
        FROM lessonMember
                 JOIN lesson ON lesson.id = lessonMember.lessonId
                 JOIN user ON user.id = lesson.ownerId
        WHERE lessonMember.memberId = #{id}
    </select>

    <select id="getLesson" parameterType="Integer" resultType="LessonDto">
        SELECT * FROM `lesson` WHERE id=#{id}
    </select>

    <select id="verifyLessonOwner" resultType="Integer" parameterType="Integer">
        SELECT count(*) FROM `lesson` WHERE ownerId=#{ownerId} and id=#{id}
    </select>


    <insert id="addLessonMember" parameterType="LessonMemberDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO lessonmember(`lessonId`,`memberId`) values(#{lessonId},#{memberId})
    </insert>
    <select id="verifyLessonMember" resultType="Integer" parameterType="Integer">
        SELECT count(*) FROM `lessonmember` WHERE memberId=#{memberId} and lessonId=#{lessonId}
    </select>
    <select id="getLessonMember" parameterType="Integer" resultType="UserListVo">
        SELECT u.id,u.username,u.name, u.email,m.majorName as major,u.role
        FROM lessonMember lm
                 LEFT JOIN user u ON lm.memberId = u.id
                 LEFT JOIN major m ON u.majorId = m.id
        WHERE lm.lessonId = #{id};
    </select>

    <delete id="deleteLessonMembers">
        delete from lessonmember where memberId in
        <foreach item="uid" collection="idList" open="(" separator="," close=")">
            #{uid}
        </foreach> and lessonId=#{id}
    </delete>
    
    <insert id="addTopicTime" parameterType="TopicTimeDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO topictime(`beginTime`,`endTime`,`lessonId`) VALUES(#{beginTime},#{endTime},#{lessonId})
    </insert>
    <update id="updateTopicTime" parameterType="TopicTimeDto">
        UPDATE topictime SET `beginTime`=#{beginTime},
                             `endTime`=#{endTime}
        WHERE `lessonId`=#{lessonId}
    </update>
    <select id="getTopicTime" parameterType="Integer" resultType="TopicTimeDto">
        SELECT * FROM topictime WHERE `lessonId`=#{id}
    </select>
    
    <insert id="createTopic" parameterType="TopicDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO topic(`name`,`limit`,`difficult`,`ownerId`,`lessonId`) VALUES (#{name},#{limit},#{difficult},#{ownerId},#{lessonId})
    </insert>
    <select id="getTopics" resultType="TopicDto">
        SELECT * FROM topic WHERE lessonId=#{lessonId}
    </select>
    <update id="updateTopic" parameterType="TopicDto">
        UPDATE topic SET `name`=#{name},
                         `limit`#{limit},
                         `difficult`=#{difficult}
        WHERE `id` =#{id}
    </update>
    <delete id="deleteTopic">
        DELETE FROM topic WHERE `id`=#{id}
    </delete>
</mapper>

