<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cleardewy.aoki.mapper.TeamMapper">
    <insert id="createTeam" parameterType="TeamDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO team(`name`,`lessonId`,`ownerId`) VALUES (#{name},#{lessonId},#{ownerId})
    </insert>

    <delete id="deleteTeam" parameterType="Integer">
        DELETE FROM team WHERE id=#{id}
    </delete>

    <select id="getTeams" parameterType="Integer" resultType="TeamVo">
        SELECT team.id as id,team.name as name,team.ownerId,user.name as ownerName
        FROM team,user
        WHERE ownerId=user.id AND lessonId=#{lessonId}
    </select>
    <select id="getTopicTeams" parameterType="Integer" resultType="TeamVo">
        SELECT team.id AS id, team.name AS name,team.ownerId, user.name AS ownerName
        FROM topicmember
                 INNER JOIN team ON topicmember.memberId = team.id
                 INNER JOIN user ON team.ownerId = user.id
        WHERE topicmember.topicId = #{topicId}
    </select>

    <select id="getTeamMembers" parameterType="Integer" resultType="TeamMemberVo">
        SELECT user.id,user.username,user.name,user.avatarURL
        FROM teammember,user
        WHERE `teamId`=#{teamId} AND teammember.memberId=user.id
    </select>

    <select id="getNoTeamMembers" parameterType="Integer" resultType="TeamMemberVo">
        SELECT user.id,user.username, user.name, user.avatarURL
        FROM lessonmember
                 LEFT JOIN team ON  team.lessonId=lessonMember.lessonId
                 LEFT JOIN teammember ON teamMember.teamId = team.id AND teammember.memberId=lessonmember.memberId
                 INNER JOIN user ON lessonmember.memberId = user.id
        WHERE lessonmember.lessonId = #{lessonId} AND user.role=2 AND teammember.memberId IS NULL
    </select>

    <select id="getTeam" resultType="TeamDto">
        SELECT * FROM team where id=#{id}
    </select>
    <select id="getTeamId" resultType="Integer">
        SELECT teamId FROM team,teammember
        WHERE memberId=#{id} AND teamId=team.id AND team.lessonId=#{lessonId}
    </select>

    <select id="getTeamLessonId" resultType="Integer">
        SELECT lessonId FROM team
        WHERE id=#{id}
    </select>

    <insert id="addTeamMember" parameterType="TeamMemberDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO teammember(`teamId`,`memberId`) VALUES (#{teamId},#{memberId})
    </insert>
    <delete id="removeTeamMember">
        DELETE FROM teammember WHERE memberId=#{memberId} AND teamId=#{teamId}
    </delete>

    <select id="getNoTopicTeams" parameterType="Integer" resultType="NoTopicMemberList">
        SELECT team.id as id, team.name as name
        FROM team
                 LEFT JOIN topicmember ON team.id = topicmember.memberId
                 LEFT JOIN topic ON topicmember.topicId = topic.id AND topic.lessonId = #{lessonId}
        WHERE team.lessonId = #{lessonId} AND topic.id IS NULL
    </select>

    <select id="getTeamIdByTaskId" parameterType="Integer" resultType="Integer">
        SELECT teammember.teamId FROM teammember
        INNER JOIN topicmember ON topicmember.memberId=teammember.teamId
        INNER JOIN task ON task.topicId=topicmember.topicId
        WHERE task.id=#{taskId} AND teammember.memberId=#{id}
    </select>

    <select id="getTaskMemberTeam" parameterType="Integer" resultType="TeamVo">
        SELECT team.id as id, team.name as name,team.ownerId as ownerId,user.name as ownerName
        FROM team
                 INNER JOIN topicmember ON team.id = topicmember.memberId
                 INNER JOIN task ON task.topicId=topicmember.topicId
                 INNER JOIN user ON team.ownerId = user.id
                LEFT JOIN tasksubmitted ON task.id = tasksubmitted.taskId AND team.id=tasksubmitted.memberId
        WHERE task.id = #{taskId} AND `submitted`=1
    </select>
    <select id="getNoTaskMemberTeam" parameterType="Integer" resultType="TeamVo">
        SELECT team.id as id, team.name as name,team.ownerId as ownerId,user.name as ownerName
        FROM team
                 INNER JOIN topicmember ON team.id = topicmember.memberId
                 INNER JOIN task ON task.topicId=topicmember.topicId
                 INNER JOIN user ON team.ownerId = user.id
                 LEFT JOIN tasksubmitted ON task.id = tasksubmitted.taskId AND team.id=tasksubmitted.memberId
        WHERE task.id = #{taskId} AND (`submitted` IS NULL OR `submitted`=0)
    </select>
</mapper>

