<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cleardewy.aoki.mapper.UserMapper">

    <select id="getUserById" parameterType="Integer" resultType="UserDto">
        SELECT * FROM `user` WHERE `id`=#{id}
    </select>
    <select id="getUserByUsername" parameterType="String" resultType="UserDto">
        SELECT * FROM `user` WHERE `username`=#{username}
    </select>

    <select id="getRoleById" parameterType="Integer">
        SELECT `role` FROM `user` WHERE `id`=#{id}
    </select>

    <select id="getMajorByMajorId" parameterType="Integer" resultType="String">
        SELECT `majorName` FROM `major` WHERE `id`=#{majorId}
    </select>


    <select id="getMajorIdByMajor" parameterType="String" resultType="Integer">
        SELECT `id` FROM `major` WHERE `majorName`=#{majorName}
    </select>

    <select id="getUserByEmail" parameterType="String" resultType="UserDto">
        SELECT * FROM `user` WHERE `email`=#{email}
    </select>

    <insert id="addUser" parameterType="UserDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user(`username`, `password`, `name`, `email`,`majorId`,`role`)
        VALUES (#{username}, #{password}, #{name}, #{email}, #{majorId}, #{role})
    </insert>

    <update id="updateUserById" parameterType="UserDto">
        UPDATE user
        SET `username` = #{username},
            `password`=#{password},
            `name`=#{name},
            `email`=#{email},
            `majorId`=#{majorId},
            `role`=#{role},
            `avatarURL`=#{avatarURL}
        WHERE `id`=#{id}
    </update>

    <delete id="deleteUserById" parameterType="Integer">
        DELETE
        from user
        WHERE id = #{id}
    </delete>


    <select id="getAllMajor" resultType="String">
        SELECT `majorName` from `major`
    </select>

    <delete id="deleteMajorByName" parameterType="String">
        DELETE FROM `major` WHERE `majorName`=#{majorName}
    </delete>
    <insert id="addMajor" parameterType="String">
        insert INTO `major`(`majorName`) values (#{majorName})
    </insert>

    <select id="countUsername" parameterType="String" resultType="Integer">
        SELECT COUNT(*) FROM `user` WHERE #{username}=`username`
    </select>
    <select id="countEmail" parameterType="String" resultType="Integer">
        SELECT COUNT(*) FROM `user` WHERE #{email}=`email`
    </select>

    <select id="getUsersByUsernames" resultType="UserListVo">
        SELECT user.id,`username`,`name`,`email`,COALESCE(`majorName`, ''),`role` FROM `user`
        LEFT JOIN `major` ON major.id=user.majorId
        WHERE username IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    
    <select id="getAllUser" resultType="UserVo">
        SELECT user.id,username,password,name,email,COALESCE(`majorName`, ''),role,avatarURL FROM `user`
        LEFT JOIN `major` ON user.majorId=major.id
    </select>
</mapper>

