<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cleardewy.aoki.mapper.UserMapper">
    <select id="getRoleById" parameterType="Integer" resultType="String">
        SELECT role.roleName FROM user,role WHERE user.id=#{id} AND user.roleId=role.id
    </select>
    <select id="getUserByUsername" parameterType="String" resultType="UserDto">
        SELECT * FROM `user` WHERE `username`=#{username}
    </select>

    <select id="getRoleByRoleId" parameterType="Integer" resultType="String">
        SELECT `roleName` FROM `role` WHERE `id`=#{roleId}
    </select>

    <select id="getMajorByMajorId" parameterType="Integer" resultType="String">
        SELECT `majorName` FROM `major` WHERE `id`=#{majorId}
    </select>
</mapper>

