html,#app{
  height: 100%;
  width: 100%;
  margin: 0;
}

body{
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  place-items: center;
  text-align: center;
  min-width: 320px;
  min-height: 100vh;
}

.el-space:focus{
  outline: none;
}